<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AppDirect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>log4j2.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jContextName</param-name>
    <param-value>AppDirect</param-value>
  </context-param>
  <!-- 
  <servlet>
    <servlet-name>OrderCreation</servlet-name>
    <servlet-class>subscription.OrderCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCreation</servlet-name>
    <url-pattern>/OrderCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderCancelation</servlet-name>
    <servlet-class>subscription.OrderCancelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCancelation</servlet-name>
    <url-pattern>/OrderCancelation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderChange</servlet-name>
    <servlet-class>subscription.OrderChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderChange</servlet-name>
    <url-pattern>/OrderChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriptionManage</servlet-name>
    <servlet-class>subscription.SubscriptionManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriptionManage</servlet-name>
    <url-pattern>/SubscriptionManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderStatusChange</servlet-name>
    <servlet-class>subscription.OrderStatusChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderStatusChange</servlet-name>
    <url-pattern>/OrderStatusChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAssignment</servlet-name>
    <servlet-class>userassignment.UserAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAssignment</servlet-name>
    <url-pattern>/UserAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUnassignment</servlet-name>
    <servlet-class>userassignment.UserUnassignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUnassignment</servlet-name>
    <url-pattern>/UserUnassignment</url-pattern>
  </servlet-mapping>
   -->
</web-app>